html {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}
body {
    /*background-color: #FFCC99;*/
    /*background-image: url("/static/images/background.jpg");*/
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}