.leftMenu {
    /*background-color: white;*/
    height: 100%;
    list-style: none;
    width: 50vh;
}

#welcome, #points {
    /*font-size: 25px;*/
}

.infoLi {
    height: 20vh;
    width: 100%;
}

.infoTable {
    background-color: yellow;
    display: table;
    height: 100%;
    width: 100%;
}

.infoTable div {
    display: table-row;
}

.infoTable div div {
    display: table-cell;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-top: 1%;
}

.playerCell {
    background-color: aquamarine;
    text-indent: 10%;
    width: 60%;
}

.tradeCell {
    background-color: lightgreen;
    text-align: right;
    width: 40%;
}

.tradeBtn {
    border: 0;
    background-color: blue;
}

.tradeBtn:hover {
    background-color: red;
}

.tradeBtn:active {
    background-color: yellow;
}

.tradeBtn:disabled {
    background-color: #808080;
    color: black;
}

.cardLi {
    /*background-color: #fefefe;*/
    height: 39vh;
    width: 100%;
}

.tradeInfoLi {
    height: 2vh;
    width: 100%;
}

#tradeInfo {
    /*background-color: white;*/
    float: left;
    text-align: center;
    width: 75%;
}

#tradeAccept {
    /*background-color: pink;*/
    float: left;
    text-align: center;
    width: 25%;
}

#tradeAcceptBtn {

}