{% extends "layout.html" %}

{% block body %}
<body>
	{%- with messages = get_flashed_messages(with_categories=True) -%}
	{%- if messages -%}
	<div align="center">
	    {% for category, message in messages -%}
	    {%- if category == 'warning' -%}
	    {%- set class='warning' -%}
	    {%- elif category == 'error' -%}
	    {%- set class='danger' -%}
	    {%- else -%}
	    {%- set class='info' -%}
	    {%- endif -%}
	    <div class="alert alert-{{ class }}" style="margin: 0;">{{ message }}</div>
	    {% endfor -%}
	</div>
	{%- endif -%}
	{%- endwith -%}
	<div class="menu_overlay">
		<div class="user_menu_container">
			<ul>
			{% block contents %}
			{% endblock %}
			</ul>
		</div>
	</div>
</body>
{% endblock %}
{% block javascript %}
{% endblock %}