{% extends "central_menu.html" %}
{% block title %}Index{% endblock %}

{% block contents %}
{% if current_user.is_authenticated %}
<li><span class="welcome_msg">Welcome, {{ current_user.username }}</span></li>
<li><button class="user_menu_input user_menu_btn" onclick="location.href='/user/logout/';">Log off</button></li>
{% else %}
<li><button class="user_menu_input user_menu_btn" onclick="location.href='/user/login/';">Log in</button></li>
<li><button class="user_menu_input user_menu_btn" onclick="location.href='/user/register/';">Register</button></li>
{% endif %}
{% endblock %}