<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="ansi">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/centralMenu.css">
		<link rel="stylesheet" type="text/css" href="/static/css/game.css">
		<link rel="stylesheet" type="text/css" href="/static/css/global.css">
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.svg.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<title>{% if self.title() %}{% block title %}{% endblock %} - {% endif %} Catan</title>
	</head>
	{% block body %}
	{% endblock %}

	{% block javascript %}
	{% endblock %}
</html>